body{
	font-family: 
}


.title{
	margin-top: 30px;
	/*background-color: grey;*/
	-moz-box-shadow: 8px 9px 13px #a6a6a6;
	-webkit-box-shadow: 8px 9px 13px #a6a6a6;
	box-shadow: 8px 9px 13px #a6a6a6;
}

.title h1.hooftitel{
	color: rgb(110, 184, 206);
	text-shadow:2px 2px 5px #787878;
	font-size: 40px;
	text-align: center;
	color: #979797;
}
.title h2.hooftitel{
	color: rgb(110, 184, 206);
	text-shadow:2px 2px 5px #787878;
	font-size: 50px;
	text-align: center;	
}
.title img.logo{
	float: right;
	margin-right: 80px;
	margin-top: 20px;
	margin-bottom: 20px;
}

h1{
	color: rgb(110, 184, 206);
/*	font-size: 50px;
	text-shadow:5px 5px 8px #949494;*/
	/*text-align: center;*/
}
h2{
	color: rgb(110, 184, 206);
	/*text-align: center;*/
}

/*titel*/



/*.container-fluid{
	border-style: solid;
	border-width: 2px;
	border-color: black;
	margin-top: 30px;
}*/



.letters{
	margin-top: 50px;
	width: 100%	
}

a{
	color: white;
}

/*Navegador*/

nav{
	position: 
}

nav.navbar.navbar-default.navbar-static-top{
	background-color: rgb(110, 184, 206);
	-moz-box-shadow: 0px 2px 10px #404040;
	-webkit-box-shadow: 0px 2px 10px #404040;
	box-shadow: 0px 2px 10px #404040;
	border-width: 0px;
}
.sidebar ul li a.active{
	background-color: rgb(110, 184, 206);
}

.sidebar ul li.noborder{
	border-bottom: 0px;
}

.navbar-default.sidebar{
	background-color: rgb(110, 184, 206);
	border-color: rgb(144, 189, 192);
	-moz-box-shadow: 3px 2px 6px #404040;
	-webkit-box-shadow: 3px 2px 6px #404040;
	box-shadow: 3px 2px 6px #404040;
}
.navbar-default .navbar-brand{
	color: #FFF;
}
.navbar-default .navbar-toggle{
	border-color: #FFF;	
}
.navbar-default .navbar-toggle .icon-bar{
	background-color: #FFF;		
}
.sidebar ul li.noborder{
	border-bottom: 0px;
}
.nav>li>a:hover{
	background-color: yellow;
}